<%- body = '' %>
<%- include('layout.ejs') %>
<div class="container mb-3">
<form action="/login" method="POST" class="custom-form">
  <div class="mb-3">
    <label for="username" class="form-label">Username</label>
    <input type="text" class="form-control" id="username" name="username" style="width: 50%;" required>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="password" name="password" style="width: 50%;" required>
  </div>
  <button type="submit" class="btn btn-custom">Login</button>
</form>
</div>